body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
  padding: 10px;
  font-size: 3em;
}

.field {
  margin: 20px 0 0 0;
}

.field__textinput {
  font-size: 1em;
  padding: 15px 0;
  text-align: center;
  min-width: 500px;
}

/*
  Section styles
 */
.card { 
  display: none;
}

.card__prompt {
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.card__button {
  font-size: 1.1em;
  margin: 30px 0 0 0;
  text-align: center;
}


/*
  Button styles
 */

.btn {
  text-decoration: none;
  background-color: white;
  color: #888;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 5px;
  min-width: 260px;
}

.btn--orange {
  border-color: #FF4136;
  color: white;
  background-color: #FF4136;
}

.btn--blue {
  border-color: #0074D9;
  color: white;
  background-color: #0074D9;
}

.btn--yellow {
  border-color: #E4BD00;
  color: white;
  background-color: #F3C500;
}

.btn--big {
  font-size: 28px;
  padding: 10px;
  font-weight: 400;
}

.btn--small {
  min-width: 50px;
}

.btn__prompt {
  background-color: white;
  color: #fff;
  padding-right: 12px;
  padding-left: 12px;
  margin-right: -10px;
  font-weight: 600;
  background-color: #333;
  opacity: .4;
  border-radius: 5px 0 0 5px;
  left: 37px;
  float: left;
}

.btn__text {
  padding: 0 50px 0 20px;
  border-radius: 0 5px 5px 0;
}

/*Start of Battleground Styling*/

.battlefield-color {
  height: 87vh;
  background-image: linear-gradient(to top, #148F20 8%, #FFFFFF 60%, #41B2DB 100%);
}

.battleground-stats {
  display: flex;
  width: 90%;
  margin-top: 3%;
  margin-right: auto;
  margin-left: auto;
}

.battleground-bottom-report {
  position: fixed;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.9rem;
  bottom: 3%;
  width: 95%;
}

.eight-bit {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.1rem;
}

#human-data, #monster-data {
  display: flex;
  flex-direction: column;
  width: 45%;
  height: 100px;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.75rem;
  justify-content: space-between;
  align-items: center;
/*  margin-right: auto;
  margin-left: auto;*/
}

.crowd {
    vertical-align: middle;
    width: 98%;
    position: fixed;
    bottom: 45%;
}

.main-combatants-holder {
  display: inline-block;
  position: absolute;
  width: 500px;
  height: 220px;
  left: 30%;
  bottom: 30%;
}

.human-picture {
  position: absolute;
  bottom: 0px;
  left: 152px;
}

.monster-picture {
  position: absolute;
  bottom: 0px;
  left: 273px;
}

.monster-weapon-hold {
  position: absolute;
  bottom: 120px;
  left: 285px;
  transform: rotate(-101deg);
  transform-origin: 0% 50%;
}

.monster-weapon-hit {
  position: absolute;
  bottom: 88px;
  left: 299px;
  transform: rotate(-101deg);
  transform-origin: 0% 50%;
}

.monster-weapon-attack {
  position: absolute;
  bottom: 124px;
  left: 291px;
  transform: rotate(-189deg);
  transform-origin: 0% 50%;
}

.monster-weapon-winner {
  position: absolute;
  bottom: 124px;
  left: 251px;
  transform: rotate(-252deg);
  transform-origin: 0% 50%;
}

.human-weapon-hold {
  position: absolute;
  bottom: 123px;
  left: 204px;
  transform: rotate(-74deg);
  transform-origin: 0% 50%;
}

.human-weapon-hit {
  position: absolute;
  bottom: 93px;
  left: 199px;
  transform: rotate(-74deg);
  transform-origin: 0% 50%;
}

.human-weapon-attack {
  position: absolute;
  bottom: 132px;
  left: 199px;
  transform: rotate(05deg);
  transform-origin: 0% 50%;
}

.human-weapon-winner {
  position: absolute;
  bottom: 123px;
  left: 312px;
  transform: rotate(66deg);
  transform-origin: 0% 50%;
}

.weapon-gone {
  display: none;
}

#gauntlet_pic{
  width: 450px;
  height: 400px;
}
